
{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
    function initAutocomplete() {
        let autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('id_endereco'),
            {
                types: [],
                componentRestrictions: {'country': ['BR']},
                fields: ['place_id', 'geometry', 'name']
            });
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2pzNmRALgf0qlHY8BBmv_P0cxhKO-u4E&libraries=places&callback=initAutocomplete"></script>
{% endblock %}