{% extends 'base_layout.html'%}
{%block content%}
{% load static %}
<section class="banner-acessoria hero block banner">
<div class="enchimento-banner"></div>
<h2>A Parceria como um dos alicerces do Sucesso</h2>
<p>Providenciamos consultoria sobre crédito imobiliário para construtoras, indivíduos e instituições</p>
</section>
<section class="background">
<section class="hero container">
<section class="col itens-desc-full">
  <h2>Como ser parceiro da Winck?</h2><br>
  <div class="col-two-thirds right start">
  <h3>Sendo Parceiro da Winck</h3>
  <p>Em nossas consultorias, oferecemos diversos tipos de planos de credito com diferentes objetivos. Seja pequena ou grande, sua empresa pode usufruir de diversos planos de credito para a evoluçao de sua empresa</p>
  </div>
  <img class="col-third team left" src="{% static 'images/acessoria1.jpg'%}">
  <div class="col-two-thirds right border-acessoria">
  <div style="height:20px;"></div>
  </div>
  <div class="group between">
  </div>
  <div class="col-two-thirds left start">
    <h3>Nossa Infraestrutura</h3><br>
    <p>Trabalhamos para atendê-lo da melhor forma em 2 locais: Uma localizada na Rua Do Guia Lopes e outra localizada na Av. Júlio de Castilhos! (Na verdade, as duas estão a 40 metros de distância)</p>
  </div>
  <img src="{% static 'images/building.jpg'%}" class="col-third team right">
  <div class="group between">
  </div>
</section>
</section>
</section>
{%endblock%}
