{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/stylesWinck.css'%}">
      <link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="{% static 'images/winck-logo.png' %}">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <link href="{% static 'css/all.css' %}" rel="stylesheet">
      <title>Winck Negócios Imobiliários</title>
  </head>
  <body>
  <div class="loader-background">
    <div class="block">
    <div class="block w100 margin">
      <div class="flex-always w100">
        <img class="loader-logo block" src="{% static 'images/winck-logo-alt-compress.png' %}" alt="">
      </div>
    </div>
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
  <section class="site-header">
    <header class="container-logo group">
      <h1 class="logo">
        <a href="{% url 'index'%}"><img class="logo-principal" src="{% static 'images/Winck.png' %}" alt="Logo Winck"></a>
      </h1>
      <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="{% url 'index'%}">Home</a>
        <a href="{% url 'imoveis'%}">Imóveis</a>
        <a href="{% url 'sobre' %}">Sobre</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="{% url 'contato' %}">Contato</a>
        <a href="#secoes"><h4 class="hero" style="color:rgba(250, 250, 250, 0.342);" onclick="closeNav()">Encomende seu imóvel, Acessoria à Construtoras e Serviços Caixa</h4></a>
        <div class="flex-always">
          <a href="mailto:winck@winckimoveis.com.br?subject=Tenho%20interesse,%20como%20posso%20começar?" target="_blank" style="margin-left:0px; color: #FF7900; "></p><i class="far fa-envelope fa-2x"></p></i></a>
          <a href="http://facebook.com/Winck.Imoveis/" target="_blank" ></p><i class="fab fa-facebook-square fa-2x" ></p></i></a>
          <a href="https://web.whatsapp.com/send?phone=5554991013403" target=_blank><p class="margin2x"><i class="fab fa-whatsapp fa-2x"></i></p></a>
        </div>
      </div>
      </div>
      <span class="menu-btn" onclick="openNav()"><div></div><div></div><div></div></span>
      <nav class="primary-nav nav nav-header">
        <div class="text-nav d-flex">
          <div class=" box-c">
            <a class="custom-underline" href="{% url 'index'%}">Home</a>
          </div>
          <div class=" box-c">
            <a class="custom-underline" href="{% url 'imoveis'%}">Imóveis</a>
          </div>
          <div class=" box-c">
            <a class="custom-underline" href="{% url 'sobre' %}">Sobre</a>
          </div>
          <div class=" box-c">
            <a class="custom-underline" href="{% url 'blog' %}">Blog</a>
          </div>
          <div class=" box-c">
            <a class="custom-underline" href="{% url 'contato' %}">Contato</a>
          </div>
        </div>
        <a href="mailto:winck@winckimoveis.com.br?subject=Tenho%20interesse,%20como%20posso%20começar?" target="_blank" style="margin-left:20px;"><i class="far fa-envelope fa-2x"></i></a>
        <a href="http://facebook.com/Winck.Imoveis/" target="_blank" ><i class="fab fa-facebook-square fa-2x" ></i>
        <a href="https://web.whatsapp.com/send?phone=5554991013403" target=_blank><i class="fab fa-whatsapp fa-2x"></i></a>
        <div class="dropdown">
          <p class="phone-icon">
          <i class="fas fa-phone-alt fa-2x phone phone-header"></i>
          </p>
          <div class="dropdown-content">
            <section class="color-dropdown">
            <div class="title-dropdown"><h4>Gostaria de Conversar Conosco?</h4></div>
            <div><h4><i class="fas fa-phone-alt phone phone-header"></i> Telefone: (54)99101-3403</h4></div>
            </section>
          </div>
          </div>
      </nav>
    </header>
    </section>
    <div class="deco-desc"></div>
    <div class="desenvolvimento padding center block justify-content-center">
      <h4 class="margin">Este website está em desenvolvimento e portanto não representa qualquer produto oficial da Winck Negócios Imobiliários.</h4>
      <p><a class="btn" href="http://www.winckimoveis.com.br/">Link para o site oficial</a></p>
    </div>
            {% block content%}
            {% endblock %}
        </div>
        <footer class="primary-footer container group">
          <section class="telefone-mobile flex">
          <div>
            <h3><img class="icon-dropdown" src="{% static 'images/winck-logo-foda.png'%} ">Gostaria de Conversar?</h3>
            <h4><i class="fab fa-whatsapp"></i>(54)99101-3403</h4>
          </div>
          </section>
            <div class=" group enchimento"></div>
            <p class="nav right"><a  href="{% url 'admin:index' %}" class="btn btn-imoveis">Acesso Restrito</a></p>
            <span class="menu-btn menu-btn-alt" onclick="openNav()"><div></div><div></div><div></div></span>
            <div class="between"></div>
            <div class="flex margin2x  justify-content-center footer-desktop">
              <div class="flex justify-content-left">
                <img class="logo-principal" src="{% static 'images/Winck-alt.png' %}" alt="winck-logo">
              </div>
              <div class="flex p-4"></div>
              <div class="flex justify-content-center">
                <div class="marginH2x">
                  <h4><img class="icon-dropdown" src="{% static 'images/winck-logo-foda.png'%}"> Unidade Guia Lopes:</h4>
                  <div class="spacing">
                    <p>Rua do Guia Lopes 773</p>
                    <p>Exposição, Caxias do Sul</p>
                  </div>
                </div>
                <div>
                  <h4><img class="icon-dropdown" src="{% static 'images/winck-logo-foda.png'%}"> Unidade Júlio de Castilhos:</h4>
                  <div class="spacing">
                    <p>Avenida Júlio de Castilhos, 123</p>
                    <p>Exposição, Caxias do Sul</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="group between"></div>
            <div class="signature">
            <div class="contatos">
            </div>
            <nav class="footer-nav nav justify-content-center">
              <div class="text-nav flex">
              <a href="{% url 'imoveis'%}"><p>Imóveis</p></a>
              <a href="{% url 'sobre' %}"><p>Sobre</p></a>
              <a href="{% url 'blog'%}"><p>Blog</p></a>
              <a href="{% url 'contato' %}"><p>Contato</p></a>
              <a href="{% url 'acessoria' %}"><p>Acessoria</p></a>
              <a href="{% url 'encomenda' %}"><p>Encomenda</p></a>
              <a href="{% url 'caixa' %}"><p>Serviços Caixa</p></a>
              </div>
            </nav>
            <p>Winck Negócios Imobiliários Todos os direitos reservados 2020</p>
            <p><a href="https://github.com/Winckdev">Winckdev</a></p></div>
            </div>
          </footer>
          <script src="{% static 'js/loader.js' %}"></script>
          <script src="{% static 'js/comportamento.js' %}"></script>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </body>
</html>
