{% extends 'base_layout.html'%}
{%block content%}
{% load static %}
<div class="banner-caixa banner">
    <section class="hero block">
        <h2>Simule seu Imóvel Hoje!</h2>
        <p>O botão te leva diretamente para a seção de simulação de financiamento habitacional do site da Caixa Econômica Federal!</p>
    </section>
    <section class="hero">
        <a href="http://www8.caixa.gov.br/siopiinternet-web/simulaOperacaoInternet.do?method=inicializarCasoUso" class="btn btn-imoveis">
          <h3>Clique para simular seu imóvel!</h3>
        </a>
    </section>
    </div>
    <div class="caixa-text background-caixa block padding">
    <section class="container hero dale block itens-desc-full start">
      <h2 class="marginHA">Descubra mais sobre Financiamento Imobiliário:</h2>
      <div class="col-caixa">
        <section class="left col-two-thirds block">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </section><!--
      --><aside class="col-third right flex-always">
          <img  class="habit" src="{% static 'habitacao.jpg'%}">
        </aside>
        <div class="enchimento"></div>
      <div class="group between"></div>
      <h2 class="marginHA">Saiba mais sobre as vantagens dos Imóveis Retomados Caixa:</h2>
        <section class="left col-two-thirds">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </section><!--
        --><aside class="col-third right flex-always">
          <img class="habit" src="{% static 'CorrespondenteCaixaAqui.jpg' %}">
        </aside>
        </div>
      </section>

      </div>
    </section>
    </div>
    {%endblock%}
