{% extends 'base_layout.html'%}
{%block content%}
{% load static %}
<section class="banner-encomenda hero block banner">
    <div class="enchimento-banner"></div>
    <h2>Porque não nos conta mais sobre seus sonhos?</h2>
    <p>Encomendando seu imóvel, pode receber ofertas diferenciadas daquele imóvel no qual você sonha</p>
  </section>
<section class="background justify-content-center">
    <section class="container block">
        <h2 class="padding">Encomende seu Imóvel</h2>
        <div class="itens-desc-full dale block form hero">
          <a href="{% url 'contato'%}" class="padding btn btn-imoveis"><h3>Clique aqui para ir para nos contatar!</h3></a>
          </form>
        </div>
    </section>
    <div class="hero container">

    </div>

</section>
{% endblock %}
