<html lang="pt-br   ">
<head>
</head>
<body style="font-family: Helvetica, sans-serif;">
    <div style="width: 100%; background-color: #FFAF4B; color: rgb(70, 70, 70); margin-top: 0; height: 50px; padding: 20px 0 20px 5px; align-items: center; display:flex;">
        <h2 style="text-indent: 5px;"> Winck Negócios Imobiliários</h2>
    </div>
    <div style="width: 100%; background-color: #FFF2DF; color:rgb(70, 70, 70); padding: 20px 0 20px 5px;">
        <h4>{{msgDic.Nome }} Gostaria de saber mais sobre o {{ msgDic.Imovel }} e comentou:</h4>
        <h4>{{msgDic.Comentarios}}</h4>
        <h4>{{msgDic.Contato}}</h4>
        <div style="margin-top:40px; display:flex">
            <h3 style="color: #FFAF4B; font-weight: bold;">Nome:</h3> <h3 style=" margin-right: 20px;">{{msgDic.Nome }}</h3>
            <h3 style="color: #FFAF4B; font-weight: bold;">Email:</h3> <h3 style=" margin-right: 20px;">{{msgDic.Email}}</h3>
            <h3 style="color: #FFAF4B; font-weight: bold;">Celular:</h3><h3 style=" margin-right: 20px;">{{msgDic.Celular}}</h3>
        </div>
    </div>
</body>
</html>