{% extends 'base_layout.html'%}
{% load static%}
{% block content %}
</div>
    <div class="main banner">
      <section class="hero container block">
        <h2>O Relacionamento como parte do Sucesso.</h2>
        <p>Dedicados desde 2012 para firmar relações entre construtoras e compradores, a Winck se orgulha de ser uma parceira do Caixa Aqui.</p>
          <form class="form-imovel margin5x" action="{% url 'imoveis' %}" method="GET">
              <input name="Search" id="search" class="search--imovel " type="text" placeholder="Coloque o nome de um imóvel ou um endereço!">
              <button class="btn margin2x" type="submit"><h3>Ver Imóveis</h3></button>
					</form>	
      </section>
    </div>
    </section>
    <section class="home-banner">
    </section>
  <section id="secoes" class="row">
    <div class="grid">
      <!--Imóveis-->
      <section class="col-1-3 col-img">
          <a href="{% url 'acessoria' %}"><img src="{% static 'credito.png'%}"></a><br>
          <a href="{% url 'acessoria' %}">Acessoria a Construtoras</a>
        </h5>
        <p>Dúvidas relacionadas a Crédito Imobiliário? Possuimos ampla experiência!</p>
      </section><!--acessoria
    --><section class="col-1-3 col-img">
          <a href="{% url 'encomenda' %}"><img src="{% static 'winck-logo.png'%}"></a><br>
          <a href="{% url 'encomenda' %}">Encomende seu Imóvel</a>
        </h5>
        <p>Descreva o imóvel dos seus sonhos e nós retornaremos com as opções que preenchem seus requisitos!</p>
      </section><!--encomenda
    --><section class="col-1-3">
          <a href="{% url 'caixa' %}"><img style="width:180px;" src="{% static 'caixa_aqui.png'%}"></a><br>
          <a href="{% url 'caixa' %}">Caixa Aqui</a>
        </h5>
        <p>Winck Negócios Imobilíarios em parceria com a Caixa Aqui para realizar seu sonho!</p>
      </section>
    </div>
    <script>
      $( function() {
        $( "#search" ).autocomplete({
        source: '{{ imoveisJson|safe }}',
        minLength: 2
        });
      } );
      </script>
  </section>
{% endblock%}
